.custom-wrapper {
  margin-bottom: 1em;
  transition: height 0.5s;
}

.custom-wrapper.open {
  height: 14em;
}

.custom-menu-3 {
  text-align: right;
}

.custom-toggle {
  width: 34px;
  height: 34px;
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  display: none;
}

.custom-toggle .bar {
  background-color: #777;
  display: block;
  width: 20px;
  height: 2px;
  border-radius: 100px;
  position: absolute;
  top: 18px;
  right: 7px;
  transition: all 0.5s;
}

.custom-toggle .bar:first-child {
  transform: translateY(-6px);
}

.custom-toggle.x .bar {
  transform: rotate(45deg);
}

.custom-toggle.x .bar:first-child {
  transform: rotate(-45deg);
}

@media (max-width: 47.999em) {

  .custom-menu-3 {
    text-align: left;
  }
  
  .custom-toggle {
    display: block;
  }

}